<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%-5level] [%t] %c{1} %d{HH:mm:ss} - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=black, DEBUG=blue bold, TRACE=green}" />
        </Console>

    </Appenders>

    <Loggers>
        <!-- Log everything in custom package -->
        <Logger name="com.szivalaszlo.contracts" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- Log everything in Spring Boot -->
        <Logger name="org.springframework.boot" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- Log everything in Spring Core -->
        <Logger name="org.springframework.core" level="warning" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console" />
        </Root>

    </Loggers>
</Configuration>
